.table {
  border-collapse: collapse;
}

.table__row--bordered {
  border-bottom: 1px solid rgba(255,255,255,.2);
}

.table__row--selected {
  background: #209e91;
}

.table__cell {
  padding: 10px;
}

.table__cell--bordered {
  border: 1px solid rgba(255,255,255,.2);
}

.table__cell--head {
  background: rgba(238, 238, 238, .2);
}
